* {
    margin: 0px;
    padding: 0px;
    box-sizing: 0px;
}
/* MENI */


.nav input[type="checkbox"] {
    display: none;
}

/* pomeram meni */
.nav {
    position: absolute;
    right:5% ;
    width:180px;
    top:0px;
    padding: 10px;
}

#nav-icon {
    font-size: 28px;
    line-height: 50px;
    padding-left: 1em;
    color: black;
}

label {
    width: 100%;
    display: block;
    z-index: 3;
    position: relative;
}


.container li a:hover {
    cursor: pointer;
    font-size: 25px;
}

.container ul, .container li, label {
    line-height: 50px;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: black;
    font-weight: 100;
    width: 30%;
    
}

.container ul {
    
    border-radius: 2px;
}

.container {
    background-color: white;
    position:absolute;
    opacity: 0.7;
    width:180px;
    height:100px;
    top:70px;
    right:5%;
    
}
.container li a {
    line-height: 50px;
    margin: 0;
    padding: 0 0.25em;
    list-style: none;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 500;
}
h2 {
    padding: 10px;
    color: black;
    font-size: 25px;
}

.naslov {
    position: absolute;
    top:10px;
    left:15%;

}
.sve {
    display: flex;
    background-color: white;
    
    opacity: 0.7;
    border-bottom: 1px solid white;
    position: absolute;
    top:0px;
    left:0px;
    width:100%;
    height:70px;
}


.inputi {
    opacity: 0.7;
    padding: 8px;
    margin-top: 7px;
    width: 400px;
    margin-bottom: 4px;
    border-radius: 5px;
    border: none;
}

.mojaForma {
    position: absolute;
    top: 190px;                           
    left: 60px;
    max-width: 400px;                   
    color: white;
    opacity: 0.8;
}

.dugme {
    padding: 15px;
    margin-top: 20px;
    background-color: black;
    opacity: 0.8;
    border: none;
    color: white;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;                    /* bude ruka kad se predje preko dugmeta */
    position: relative;
    transform: translateX(150px);
}


span {
    position: absolute;
    color: white;
    font-weight: bold;
    top: 600px;
    opacity: 0.7;
    left:100px;
    font-size: 18px;
}


.prazan {
    position: absolute;
    top: 800px;
}


@media screen and (max-width: 700px) {
    .naslov {
        left:2px;
    }

    .nav {
        right:-10px;
    }

    .container {
        right: -7px;
    }
}

