/* You can add global styles to this file, and also import other style files */

body {
    background-image: url("/assets/book.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
    background-attachment: fixed;
    color: black;

   /* color: white; */
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


