* {
    margin: 0px;
    padding: 0px;
    box-sizing: 0px;
}

.naslov {
    position: absolute;
    top:10px;
    left:15%;
}

.sve {
    display: flex;
    background-color: white;
    
    opacity: 0.7;
    border-bottom: 1px solid white;
    position: absolute;
    top:0px;
    left:0px;
    width:100%;
    height:70px;
}

.link{
    position: absolute;
    color: black;
    text-decoration: none;
    letter-spacing: 2px;
    left: 100px;
    list-style: none;
    font-size: 19px;
    padding:13px;
}

.link:hover {
    font-size:21px;
}

h2 {
    color: white;
    opacity: 0.8;
    font-weight: bold;
}

.mojaForma {
    position: absolute;
    top: 200px;                           
    left: 100px;
    max-width: 200px;                   
    color: white;
    opacity: 0.8;
}

.inputi {
    opacity: 0.7;
    padding: 8px;
    margin-top: 7px;
    width: 300px;
    margin-bottom: 4px;
    border-radius: 5px;
    border: none;
}

.dugme {
    padding: 15px;
    margin-top: 20px;
    background-color: black;
    opacity: 0.8;
    border: none;
    color: white;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;                    
    position: absolute;
    left: 80px;
}

::placeholder {
    color: black;
    opacity: 1;
    font-weight: bold;
}

span {
    position: absolute;
    top: 550px;
    color: white;
    font-weight: bold;
    left: 160px;
    opacity: 0.7;
    font-size: 17px;
}